#name {
    /* flex: 1; */
    float: left;
    color: white;
    background-color: #4aaaa5;
    padding: 20px; 
    width: 11%;
    display: block;
    margin: 0 100px 0 100px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    float: right;
    text-decoration: none;
}
#about-nav {
    /* flex: 2; */
}
#portfolio-nav {
    /* flex: 3; */
    border-inline-end: thin solid #777777;
}
#contact-nav {
    /* flex: 4; */
    border-inline-end: thin solid #777777;
}
li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    width: 11%;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}
li a:hover {
    display: block;
    background-color: #dddddd;
}
#about {
    display: block;
    color: #4aaaa5;
    padding: 20px 0 20px 0;
}
#img-self {

}
#nav-container {
    height: 62.48px;
    /* display: flex;
    flex-direction: row; */
    background-color: white;
    border-bottom: thin solid #dddddd;
}
#content {
    overflow: auto;
    width: 70%;
    border: thin solid #dddddd;
}
#main-content {
    background-color: #ffffff;    
}
p {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}